/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow {
    width: 750px;
    height: 750px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    float: left;
    margin-left: 15%;
    /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px;
    /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out;
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides li:first-child {
    margin-left: 70px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child) {
    float: left;
    margin-right: 100px;
}

.slides li {
    float: left;
    margin-top: 70px;
    /* border: black 1px solid; */
    width: 600px;
    height: 600px;
}

.slides li img {
    width: 100%;
}

#startbtn {
    position: absolute;
    top: 427px;
    right: 238px;
    background-color: transparent;
    width: 185px;
    height: 60px;
    border-radius: 12px;
    border-style: none;
}

#startbtn:hover{
    cursor: pointer;
}

.controller span {
    position: absolute;
    background-color: transparent;
    box-shadow: 2px 2px 6px rgb(196, 196, 196);
    color: black;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}

.prev {
    left: 10px;
}

.next {
    right: 20px;
}

#label-container{
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: 30px;
}

#pausebtn, #restartbtn{
    background-color: #C9D67A;
    border-radius: 15px;
    border-style: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

#pausebtn:hover, #restartbtn:hover{
    background-color: white;
    border: 2px solid #C9D67A;
}